data/comb_CD56_CD16_NK.h5seurat filter=lfs diff=lfs merge=lfs -text
data/comb_CD56_CD16_NK_blood.h5ad filter=lfs diff=lfs merge=lfs -text
data/comb_CD56_CD16_NK_blood.h5seurat filter=lfs diff=lfs merge=lfs -text
data/comb_CD56_CD16_NK.h5ad filter=lfs diff=lfs merge=lfs -text
results/DGAT/Freq_of_cells_positive_for_DGAT1_across_meta_histology.csv filter=lfs diff=lfs merge=lfs -text
results/DGAT/Freq_of_cells_positive_for_DGAT2_across_Majortype.csv filter=lfs diff=lfs merge=lfs -text
results/DGAT/UMAP_tissue.pdf filter=lfs diff=lfs merge=lfs -text
results/CD160Pos_score/Barplot_freq_of_cells_positive_for_CD160Pos_sig_across_meta_histology.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/Barplot_freq_of_cells_positive_for_TMEM68_across_Majortype.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/FeaturePlot_TMX1.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/FeaturePlot_DGAT1.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/Freq_of_cells_positive_for_TMEM68_across_Majortype.csv filter=lfs diff=lfs merge=lfs -text
results/DGAT/Freq_of_cells_positive_for_TMEM68_across_tissue.csv filter=lfs diff=lfs merge=lfs -text
results/DGAT/Freq_of_cells_positive_for_TMX1_across_celltype.csv filter=lfs diff=lfs merge=lfs -text
results/DGAT/VlnPlot_DGAT1_Majortype.pdf filter=lfs diff=lfs merge=lfs -text
results/CD160Pos_score/Barplot_freq_of_cells_positive_for_CD160Pos_sig_across_celltype.pdf filter=lfs diff=lfs merge=lfs -text
results/CD160Pos_score/VlnPlot_CD160Pos_signature_meta_histology.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/Densityplot_DGAT2.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/VlnPlot_DGAT2_meta_histology.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/VlnPlot_TMX1_celltype.pdf filter=lfs diff=lfs merge=lfs -text
results/UMAP_Majortype.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/Densityplot_DGAT1.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/Freq_of_cells_positive_for_DGAT1_across_Majortype.csv filter=lfs diff=lfs merge=lfs -text
results/CD160Pos_score/VlnPlot_CD160Pos_signature_tissue.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT.zip filter=lfs diff=lfs merge=lfs -text
results/DGAT/Barplot_freq_of_cells_positive_for_TMEM68_across_celltype.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/Barplot_freq_of_cells_positive_for_DGAT1_across_celltype.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/Freq_of_cells_positive_for_DGAT2_across_tissue.csv filter=lfs diff=lfs merge=lfs -text
results/DGAT/VlnPlot_TMX1_tissue.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/Barplot_freq_of_cells_positive_for_DGAT1_across_tissue.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/Barplot_freq_of_cells_positive_for_TMX1_across_celltype.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/Freq_of_cells_positive_for_TMX1_across_tissue.csv filter=lfs diff=lfs merge=lfs -text
results/DGAT/VlnPlot_DGAT1_tissue.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/VlnPlot_TMEM68_Majortype.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/Barplot_freq_of_cells_positive_for_DGAT1_across_Majortype.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/Freq_of_cells_positive_for_TMX1_across_Majortype.csv filter=lfs diff=lfs merge=lfs -text
results/DGAT/VlnPlot_DGAT1_celltype.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/Barplot_freq_of_cells_positive_for_TMEM68_across_tissue.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/Freq_of_cells_positive_for_DGAT1_across_celltype.csv filter=lfs diff=lfs merge=lfs -text
results/DGAT/VlnPlot_TMEM68_celltype.pdf filter=lfs diff=lfs merge=lfs -text
results/CD160Pos_score/Barplot_freq_of_cells_positive_for_CD160Pos_sig_across_tissue.pdf filter=lfs diff=lfs merge=lfs -text
results/CD160Pos_score/VlnPlot_CD160Pos_signature_meta_tissue.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/Barplot_freq_of_cells_positive_for_DGAT2_across_meta_histology.pdf filter=lfs diff=lfs merge=lfs -text
results/CD160Pos_score/VlnPlot_CD160Pos_signature_Majortype.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/VlnPlot_DGAT2_Majortype.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/VlnPlot_TMX1_meta_histology.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/Barplot_freq_of_cells_positive_for_TMX1_across_Majortype.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/Barplot_freq_of_cells_positive_for_TMX1_across_meta_histology.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/Freq_of_cells_positive_for_DGAT1_across_tissue.csv filter=lfs diff=lfs merge=lfs -text
results/DGAT/Freq_of_cells_positive_for_DGAT2_across_celltype.csv filter=lfs diff=lfs merge=lfs -text
results/DGAT/UMAP_Majortype.pdf filter=lfs diff=lfs merge=lfs -text
results/CD160Pos_score filter=lfs diff=lfs merge=lfs -text
results/CD160Pos_score/VlnPlot_CD160Pos_signature_celltype.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/Barplot_freq_of_cells_positive_for_TMEM68_across_meta_histology.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/VlnPlot_DGAT2_tissue.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/Barplot_freq_of_cells_positive_for_TMX1_across_tissue.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/Freq_of_cells_positive_for_DGAT2_across_meta_histology.csv filter=lfs diff=lfs merge=lfs -text
results/UMAP_meta_tissue.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT filter=lfs diff=lfs merge=lfs -text
results/DGAT/Barplot_freq_of_cells_positive_for_DGAT2_across_Majortype.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/Barplot_freq_of_cells_positive_for_DGAT2_across_tissue.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/UMAP_celltype.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/VlnPlot_TMX1_Majortype.pdf filter=lfs diff=lfs merge=lfs -text
results/CD160Pos_score/Densityplot_CD160Pos_sig_Ucell_score.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/Densityplot_TMEM68.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/Densityplot_TMX1.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/FeaturePlot_DGAT2.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/FeaturePlot_TMEM68.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/Freq_of_cells_positive_for_TMEM68_across_celltype.csv filter=lfs diff=lfs merge=lfs -text
results/DGAT/VlnPlot_DGAT2_celltype.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/VlnPlot_TMEM68_meta_histology.pdf filter=lfs diff=lfs merge=lfs -text
results/CD160Pos_score/FeaturePlot_CD160Pos_sig_Ucell_score.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/Barplot_freq_of_cells_positive_for_DGAT1_across_meta_histology.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/Barplot_freq_of_cells_positive_for_DGAT2_across_celltype.pdf filter=lfs diff=lfs merge=lfs -text
results/UMAP_celltype.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/VlnPlot_TMEM68_tissue.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/VlnPlot_DGAT1_meta_histology.pdf filter=lfs diff=lfs merge=lfs -text
results/UMAP_tissue.pdf filter=lfs diff=lfs merge=lfs -text
results/CD160Pos_score/Barplot_freq_of_cells_positive_for_CD160Pos_sig_across_Majortype.pdf filter=lfs diff=lfs merge=lfs -text
results/DGAT/Freq_of_cells_positive_for_TMEM68_across_meta_histology.csv filter=lfs diff=lfs merge=lfs -text
results/DGAT/Freq_of_cells_positive_for_TMX1_across_meta_histology.csv filter=lfs diff=lfs merge=lfs -text
